<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="resource.FestivalMapper">
 	<select id="selectFestival" parameterType="vo.SearchTypeVO"  resultType="vo.FestivalVO">
    	select fid, name, place, lat, lng, type, fcontent, hostinfo
    	from festival
    	where type = #{type} and palce = #{place} and fid = (
    		select fid
    		from festadate
    		where month = #{month}
    	)
 	</select>

</mapper>