<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="resource.FestivalMapper">
 	<select id="selectFestival" parameterType="vo.SearchType"  resultType="vo.FestivalVO">
    	select id, writer, title, content, 
    	to_char(writedate,'yyyy/mm/dd HH24:mi') writedate, cnt 
    	from festival
    	where 
 	</select>

</mapper>